.cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    background-color: $color-white;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 4rem;
    position: relative;
    width: 47%;

    @include respond-to('small') {
      width: 32%;
    }

    @include respond-to('large') {
      margin-bottom: 2.5rem;
      width: 24%;
    }
  }

  &__image-area {
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    /* using most common image ratio to crop all images to same size */
    padding-top: (400 / 600) * 100%;

    svg {
      background-color: white;
      left: 0.5rem;
      position: absolute;
      top: 0.5rem;
      z-index: 100;
    }
  }

  &__image {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &__name {
    font-size: $text-medium;
    font-weight: $font-weight-bold;
    margin-bottom: 0.5em;
  }

  &__text {
    font-size: $text-xs;
    margin-bottom: 0;
  }

  &__link {
    @include button;

    bottom: 0.5rem;
    left: 0.5rem;
    position: absolute;
    width: calc(100% - 1rem);
  }
}