.header {
  background-color: $color-white;  

  &__content {
    margin: 0 auto;
    max-width: 75rem;
    position: relative;
  }

  &__logo {
    left: 50%;
    height: 4rem;
    position: relative;
    top: 0;
    transform: translateX(-50%);
    width: 8.5rem;

    @include respond-to('small') {
      left: 1rem;
      transform: translateX(0);
    }

    svg {
      position: relative;
      top: 1rem;
    }
  }

  &__nav-button {
    background-color: $color-white;
    border: none;
    left: 1rem;
    padding: 0;
    position: absolute;
    top: 1.1rem;
    transition: transform 0.4s ease;

    @include respond-to('small') {
      display: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__nav-list {
    background-color: $color-white;
    left: 0rem;
    position: relative;
    top: 0;
    width: 100%;

    @include respond-to('small') {
      left: auto;
      display: inline-block!important; /* override inline style added in JS for mobile menu toggle */
      position: absolute;
      right: 4.25rem;
      top: 1.2rem;
      width: auto;
    }
  }

  &__nav-item {
    margin: 0 1rem 1rem;

    @include respond-to('small') {
      display: inline-block;
      margin: 0;
    }
  } 
  
  &__nav-link {
    padding-right: 2rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__home {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    transition: transform 0.4s ease; 
    width: 2.75rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
