@mixin button {
  background-color: $color-green;
  border: none;
  color: $color-white;
  display: block;
  font-size: $text-sml;
  line-height: 1.2em;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-green;
  }
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
