/**
* Colours
*/
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #e7e7e7;
$color-green: #2EA372; // TODO does not have sufficient contrast with white colour

/**
* Typography
*/
$text-xs: 0.875rem;
$text-sml: 1rem;
$text-medium: 1.125rem;
$text-large: 1.5rem;

$font-weight-regular: 400;
$font-weight-bold: 700;

$outline: 3px auto rgba(59, 153, 252, .6);
