/**
* Reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
section,
nav,
header,
footer,
article,
small,
strong,
figure,
figcaption,
dl,
dt,
dd,
table,
tbody,
thead,
tfoot,
tr,
th,
td,
fieldset,
legend,
input,
select,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

svg {
  display: block;
}

/**
* Typography
*/
body {
  background-color: $color-grey;
  color: $color-black;
  font-family: 'Rubik', sans-serif;
  font-weight: $font-weight-regular;
  font-size: $text-sml;
  line-height: 1.6;
  margin: 0;
}

.title1 {
  font-size: $text-large;
  font-weight: $font-weight-bold;
  margin: 2rem 0 2rem 0;

  @include respond-to('small') {
    margin-top: 3rem;
  }
}

.title2 {
  font-size: $text-medium;
  font-weight: $font-weight-bold;
  margin: 0 0 1em 0;
}

p {
  margin: 0 0 0.5rem;
}

a {
  color: $color-black;
}

a:focus,
button:focus {
  outline: $outline;
}

/**
* Base styles
*/
.visually-hidden {
  @include visually-hidden;
}

.skip-link {
  @include visually-hidden;

  &:focus {
    clip: auto;
    height: auto;
    margin: inherit;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}

.main {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}
